* {
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	/* 	font-family: 'Gentium Basic', sans-serif; */
	font-family: 'Raleway', sans-serif;

}

body {
	color: #F8F8F8;
	overflow-x: hidden;
	background-color: #e2e1e0;
	font-size: 16px !important;
}

a:link, a:visited {
	color:inherit;
	text-decoration: none;
}

/*-------------Header---------------*/

.header {
	position: fixed;
	margin: 0 auto;

	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	padding-top: 10px;

	width: 100%;
	height: 110px;

	transition: all 0.3s;
}

/*@media (min-width: @screen-md-min) { 
	.header {
		position: fixed;
		margin: 0 auto;

		left: 0;
		right: 0;
		top: 0;
		z-index: 10;

		padding: 30px 30px 0 30px;

		width: 100%;
		height: 110px;

		transition: all 0.3s;
	}
}*/

.header-content {	

	margin: 0 auto;
	max-width: 1000px;
	
	color: #fff;

}

.hamburguer {
	position: relative;
	top: 30%;
	transform: 			translateY(-50%);	
}

.bread {
	position: relative;
	height: 3px;
	margin: 5px auto 0 auto;
	width: 40px;
	background: #fff;
}

.header.fill {
	background-color: #e1c30d;
	opacity: 0.9;
	color: #3b3b3b;
	
	/*-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);*/

	padding-top: 7px;
	padding-bottom: 10px;
	height: 70px;
}

.home {
	font-size: 20px;	
	font-weight: bold;
	/*min-width: 200px;*/
	margin-top: 11px;
	display: inline-block;
	text-align: center;
}

@media (min-width: @screen-md-min) { 

	.home {
		font-size: 24px;	
		font-weight: bold;
		min-width: 200px;
		margin-top: 11px;
	}

}
.right-aligned-container {
	display: flex;
	justify-content: flex-end;
	padding-top: 6px;
}

.about {
	margin-top: 11px;
	margin-left:30px;
	font-size: 18px;
}

.blog {
	margin-left:30px;
	margin-top: 11px;
	font-size: 18px;
}

.contact {
	margin-top: 4px;
	font-size: 18px;
	margin-left: 30px;
	border-radius: 1000px;
	width: 114px;
	height: 36px;
	min-width: 114px;
	max-width: 114px;
	background-color: #F26D5B;
}

.contact-text {
	margin-top: 7px;
	text-align: center;
}

/*-------------Content---------------*/
.content {
	position: relative;
	/*min-height: calc(100vh - 100px);*/
	min-height: 100vh;
	width: 100%;
	background: #e2e1e0;
	margin-bottom: 150px;
	padding-bottom: 50px;
	z-index: 5;
	box-shadow: 0 1px 16px rgba(0,0,0,0.22), 0 1px 8px rgba(0,0,0,0.36);

	padding-left: 20px;
	padding-right: 20px;
}

.material-board {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.board {

	position: relative;

	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto 50px auto;

	padding-bottom: 25px;

	max-width: 1000px;
}

.board-title {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #4C4C4C;
	display: inline-block;
	width: 100%;
}

/*----------  Landing  -----------*/

.background-lander {

	height: 100vh;
	max-height: 800px;
	width: 100%;
	/*position: absolute;*/
	
	background-image:url(../resources/background.jpg); 
	/*background-image:url(../resources/iu-4.jpeg);*/
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-filter: brightness(0.65);
	-moz-filter: brightness(0.65);
	-o-filter: brightness(0.65);
	-ms-filter: brightness(0.65);
	filter: brightness(0.65);

	top: 0;
	z-index: 1;
}

/*----------Meet the team-----------*/

.round-link {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 200px;
}

.team-member {
	position: relative;

	width: 200px;
	height: 200px;

	margin: 25px auto;

	border-radius: 1000px;
	/*border: solid;*/
	/*border-color: #4C4C4C;*/
	
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.headshot {
	width: 100%;
	height: 100%;

	border-radius: 1000px;

	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.member-description {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: 			translateY(-50%);	

	text-align: center;

	color: #ffffff;

	opacity: 0;
	visibility: hidden;
}

h6 {
	font-family: "Raleway" !important;
	font-weight: bold !important;
	font-size: 16px !important;
	margin-bottom: 6px;
}

.team-member:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.team-member:hover .headshot {
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	-o-filter: brightness(0.5);
	-ms-filter: brightness(0.5);
	filter: brightness(0.5);

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.team-member:hover .member-description {

	opacity: 1;
	visibility: visible;
	
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
}

/*-------------Contact---------------*/

#contact {
	padding: 0 10px 0 10px;
}

.contact-content {
	max-width: 400px;
	margin: 25px auto;
	padding-bottom: 30px;
}

.field {
	position: relative;
	margin-bottom: 10px;
}

.field-title {

}

.field-input {
	margin-top: 6px;
	position: relative;
	height: 30px;
}

.input-box {
	
	border: none;
	height: 30px;
	width: 100%;
	position: relative;
	top: 0;
	margin: 0 auto;
	background: #727272;
	border-radius: 3px;
	/*display: inline-block;*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input-box:focus {
	outline: none;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
}

.message {
	height: 150px;
	resize: none;
}

.button-wrapper {
	max-width: 114px;
	margin: 0 auto;
}

.round-button {
	margin: 0 auto;
	border: none;
	border-radius: 36px;
	height: 36px;
	width: 114px;
	background: #2fcd69;
	left: 0;
	right: 0;
	outline: none;
}

/*-------------Footer---------------*/

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;

	height: 150px;
	color: #fff;
	background: #414141;
	z-index: -1;
}

.footer-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: 			translateY(-50%);	
	
	max-width: 900px;
	margin: auto;
	
	display:flex;		
	
}

.footer-right-side
{
	position: relative;
	left: 0;
	display: flex;
	flex-wrap: nowrap;
}

.footer-right-text {
	position: relative;
	text-align: center;
	margin: auto;
	display: inline-block;
}

.footer-social-media {
	color: #f3f3f3;
	margin: 5px auto;
}

.logo {
	width: 50px;
	height: 34px;
	/*background: white;*/
	display: block;

	background-size: 50px 34px;
	background-image: url(logo.png);
}

.media-link
{
	margin: 0 10px 0 10px;
}

/*-------------Framework---------------*/
.grid {
	justify-content: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33%;
	position: relative;
}

.col-6 {
	width: 50%;
}