* {
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	/* 	font-family: 'Gentium Basic', sans-serif; */
	font-family: 'Raleway', sans-serif;

}

body {
	color: #F8F8F8;
	overflow-x: hidden;
	background: #414141 !important;
	font-size: 16px !important;
}

a:link, a:visited {
	color:inherit !important;
	text-decoration: none !important;
}

/*-------------Header---------------*/

.header {
	position: fixed;
	margin: 0 auto;

	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	padding-top: 10px;

	width: 100%;
	height: 110px;

	transition: all 0.3s;
	color: #fff;
}

.header-content {	
	position: relative;
	margin: 0 0;
	max-width: 1000px;
}

.hamburguer {
	position: relative;
	top: 10px;
	left: 15px;
	width: 40px;
}

.bread {
	position: relative;
	height: 2px;
	margin-top: 5px;
	margin-left: 5px;
	width: 24px;
	background: #fff;
	border-radius: 2px;
	transition: all 0.3s;
}

.bread.fill {
	background: #3b3b3b;
}

.header.fill {
	background-color: #e1c30d;
	opacity: 0.9;
	color: #3b3b3b;
	
	/*-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);*/

	padding-top: 9px;
	padding-bottom: 10px;
	height: 70px;
}

.home {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	font-size: 20px;	
	font-weight: bold;
	/*min-width: 200px;*/
	display: inline-block;
	text-align: center;
}

#desktop-header {
	visibility: hidden;
}

@media (min-width: 992px) { 
	#mobile-header {
		transition: all 0s;
		visibility: hidden;
	}
	#desktop-header {
		visibility: visible;
		transition: all 0.3s;
	}

	/*desktop header*/

	.header {
	position: fixed;
	margin: 0 auto;

	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	/*padding-top: 30px;*/
	padding: 30px 30px 0 30px;

	width: 100%;
	height: 110px;

	transition: all 0.3s;
	}

	.header-content {	

		margin: 0 auto;
		max-width: 1000px;
		
		opacity: 1;

		display: flex;
	}

	.header.fill {
		background-color: #e1c30d;
		opacity: 0.9;
		color: #3b3b3b;
		
		/*-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);*/

		padding-top: 7px;
		padding-bottom: 10px;
		height: 70px;
	}

	.home {
		font-size: 24px;	
		font-weight: bold;
		top: 0;
		min-width: 200px;
		margin-top: 11px;
		text-align: left;
	}	

}
.right-aligned-container {
	display: flex;
	justify-content: flex-end;
	padding-top: 6px;
}

.about {
	margin-top: 11px;
	margin-left:30px;
	font-size: 18px;
}

.blog {
	margin-left:30px;
	margin-top: 11px;
	font-size: 18px;
}

.contact {
	margin-top: 4px;
	font-size: 18px;
	margin-left: 30px;
	border-radius: 1000px;
	width: 114px;
	height: 36px;
	min-width: 114px;
	max-width: 114px;
	background-color: #F26D5B;
}

.contact-text {
	margin-top: 7px;
	text-align: center;
}

/*-------------Content---------------*/
.content {
	position: relative;
	/*min-height: calc(100vh - 100px);*/
	min-height: 100vh;
	width: 100%;
	background: #e2e1e0;
	margin-bottom: 150px;
	padding-bottom: 50px;
	z-index: 5;
	box-shadow: 0 1px 16px rgba(0,0,0,0.22), 0 1px 8px rgba(0,0,0,0.36);

	padding-left: 20px;
	padding-right: 20px;
}

.material-board {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.board {

	position: relative;

	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto 50px auto;

	padding-bottom: 25px;

	max-width: 1000px;
}

.board-title {
	margin-top: 25px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #4C4C4C;
	display: inline-block;
	width: 100%;
}

.board-text {
	margin: 25px auto 0 auto;
	font-size: 18px;
	color: #3b3b3b;
	max-width: 600px;
	text-align: justify;
}

/*-------------Footer---------------*/
@media (min-width: 992px) { 
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;

		height: 150px;
		color: #fff;
		background: #414141;
		z-index: -1;
	}

	.footer-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: 			translateY(-50%);	
		
		max-width: 1000px;
		margin: auto;
		
		display:flex;		
		
	}

	.footer-right-side
	{
		position: relative;
		left: 0;
		display: flex;
		flex-wrap: nowrap;
	}

	.footer-right-text {
		position: relative;
		text-align: center;
		margin: auto;
		display: inline-block;
	}

	.footer-social-media {
		color: #f3f3f3;
		margin: 5px auto;
	}

	.logo {
		width: 50px;
		height: 34px;
		/*background: white;*/
		display: block;

		background-size: 50px 34px;
		background-image: url(logo.png);
	}

	.media-link
	{
		margin: 0 10px 0 10px;
	}
}

/*-------------Framework---------------*/
.grid {
	justify-content: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33%;
	position: relative;
}

.col-6 {
	width: 50%;
}