* {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
/* 	font-family: 'Gentium Basic', sans-serif; */
	font-family: 'Raleway', sans-serif;

}

body {
	color: #F8F8F8;
    overflow-x: hidden;
    background-color: #e2e1e0;
}

a:link, a:visited {
	color:inherit;
	text-decoration: none;
}

/*-------------Header---------------*/

.header {
	position: fixed;
	margin: 0 auto;

	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	padding-top: 30px;

	width: 100%;
	height: 110px;
}

.header-content {	

	margin: 0 auto;
	max-width: 900px;
	
	opacity: 1;

	display: flex;

	transition: all 0.3s;
}

.header.fill {
	background: #e1c30d;
	opacity: 0.9;
	color: #3b3b3b;

	padding-top: 7px;
	padding-bottom: 10px;
	height: 70px;
	

}

.home {
	font-size: 24px;	
	font-weight: bold;
	min-width: 200px;
	margin-top: 11px;
}

.right-aligned-container {
	display: flex;
	justify-content: flex-end;
	padding-top: 6px;
}

.about {
	margin-top: 11px;
	margin-left:30px;
	font-size: 18px;
}

.blog {
	margin-left:30px;
	margin-top: 11px;
	font-size: 18px;
}

.contact {
	margin-top: 4px;
	font-size: 18px;
	margin-left: 30px;
	border-radius: 1000px;
	width: 114px;
	height: 36px;
	min-width: 114px;
	max-width: 114px;
	background-color: #F26D5B;
}

.contact-text {
	margin-top: 7px;
	text-align: center;
}

/*-------------Content---------------*/
.content {
	min-height: calc(100vh - 50px);
	width: 100%;
}

/*-------------Footer---------------*/

.footer {
	position: relative;
	bottom: 0;
	width: 100%;

	height: 50px;

	background: #414141;
	z-index: 10;
}

.footer-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: 			translateY(-50%);	
	
	max-width: 1000px;
	margin: auto;
	
	display:flex;		
	
}

/*-------------Framework---------------*/
.grid {
	justify-content: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33%;
	position: relative;
}

.col-6 {
	width: 50%;
}