.background-lander {

	height: 100vh;
	max-height: 800px;
	width: 100%;
	/*position: absolute;*/
	
	 	background-image:url(../resources/background.jpg); 
	/*background-image:url(../resources/iu-4.jpeg);*/
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-filter: brightness(0.65);
	-moz-filter: brightness(0.65);
	-o-filter: brightness(0.65);
	-ms-filter: brightness(0.65);
	filter: brightness(0.65);

	top: 0;
	z-index: 0;
}

.content {
	min-height: 100vh;
}

#linktoabout {
	position: relative;
	top: -70px;
}

#contact-panel {
	background: #380395;
}

#contact-title {
	color: #f0f0f0;
}

.contact-content {
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.field {
	position: relative;
	margin-bottom: 10px;
}

.field-title {

}

.field-input {
	margin-top: 6px;
	position: relative;
	height: 30px;
}

.input-box {
	
	border: none;
	height: 30px;
	width: 100%;
	position: relative;
	top: 0;
	margin: 0 auto;
	background: #fff;
  	border-radius: 3px;
  	/*display: inline-block;*/
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input-box:focus {
	outline: none;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
}

#message {
	height: 150px;
	resize: none;
}

.button-wrapper {
	max-width: 114px;
	margin: 0 auto;
}

.round-button {
	margin: 0 auto;
	border: none;
	border-radius: 36px;
	height: 36px;
	width: 114px;
	background: #2fcd69;
	left: 0;
	right: 0;
	outline: none;
}