.background-lander {

	height: 100vh;
	max-height: 800px;
	width: 100%;
	/*position: absolute;*/
	
	 	background-image:url(../resources/background.jpg); 
	/*background-image:url(../resources/iu-4.jpeg);*/
	background-position:center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;

	-webkit-filter: brightness(0.65);
	-moz-filter: brightness(0.65);
	-o-filter: brightness(0.65);
	-ms-filter: brightness(0.65);
	filter: brightness(0.65);

	top: 0;
	z-index: 0;
}

.content {
	min-height: 100vh;
}

#linktoabout {
	position: relative;
	top: -70px;
}

#contact-panel {
	margin-bottom: 100px;
	background: #473AAB;
	height: 300px;
}

.input-field {
	margin: 20px auto 0 auto;
}

#email-input {
	max-width: 200px;
	height: 50px;
	border: 0px;
}