.background-lander {

	height: 100vh;
	max-height: 800px;
	width: 100%;
	/*position: absolute;*/
	
	 	background-image:url(../resources/background.jpg); 
	/*background-image:url(../resources/iu-4.jpeg);*/
	background-position:center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;

	-webkit-filter: brightness(0.65);
	-moz-filter: brightness(0.65);
	-o-filter: brightness(0.65);
	-ms-filter: brightness(0.65);
	filter: brightness(0.65);

	top: 0;
	z-index: 0;
}

.content {
	min-height: 100vh;
}

#linktoabout {
	position: relative;
	top: -70px;
}

.panel2 {
	/*margin-top: 140px;*/

	/*position: absolute;*/
	position: relative;

	top: 50px;
	width: 100%;


	height: 600px;
	/*margin: 0 auto;*/

	/*margin: 30px auto 50px auto;*/

	margin: 0 auto;
	margin-bottom: 100px; /*margin + footer size*/

	max-width: 900px;

	background: #1de00a;
  	border-radius: 3px;
  	/*display: inline-block;*/
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}