i {
	color: #3b3b3b;
}

.member-cv {
	margin: 25px auto 0 auto;
	font-size: 18px;
	color: #3b3b3b;
	max-width: 600px;
	text-align: justify;
}

.media-link
{
	margin: 0 10px 0 10px;
}

.member-social-media {
	margin: 25px auto 0 auto;	

	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;

	display: flex;
	flex-wrap: wrap;
}

.media-icon {
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}



/*-------------Override other styles--------------*/

.header{
	background-color: #e1c30d;
	opacity: 0.9;
	color: #3b3b3b;
	
	/*-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);*/

	padding-top: 7px;
	padding-bottom: 10px;
	height: 70px;
}

.bread {
	background: #3b3b3b;
}

.board {
	margin-top: 70px;
	/*background: #f0c808;*/
	/*background: #ecbf31;*/

	/*#ecbf31*/
	/*background: #56ca0e;*/
	padding: 0 20px 50px 20px;
}

.team-member:hover .headshot {
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
	-o-filter: brightness(1);
	-ms-filter: brightness(1);
	filter: brightness(1);
}